@font-face {
    font-family: 'HelveticaNowDisplay900';
    src: url('../fonts/HelveticaNowDisplay-Black.woff');
    src: url('../fonts/HelveticaNowDisplay-Black.woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay700';
    src: url('../fonts/HelveticaNowDisplay-Bold.woff2');
    src: url('../fonts/HelveticaNowDisplay-Bold.woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'HelveticaNowDisplay400';
    src: url('../fonts/HelveticaNowDisplay-Hair.woff2');
    src: url('../fonts/HelveticaNowDisplay-Hair.woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNowDisplay500';
    src: url('../fonts/HelveticaNowDisplay-Md.woff2');
    src: url('../fonts/HelveticaNowDisplay-Md.woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

